In [5]:
import pandas as pd

In [6]:
data = pd.read_html('https://www.minsal.cl/nuevo-coronavirus-2019-ncov/casos-confirmados-en-chile-covid-19/')

In [7]:
data[0]

,0,1,2,3,4
0,NaN,Casos COVID-19 en Chile,Casos COVID-19 en Chile,Casos COVID-19 en Chile,Casos COVID-19 en Chile
1,NaN,Casos confirmados por laboratorio*,Casos confirmados por laboratorio*,Casos confirmados por laboratorio*,Casos confirmados por laboratorio*
2,Región,Casos nuevos,Casos totales,% Casos totales**,Fallecidos
3,Arica y Parinacota,1,3,0 %,0
4,Tarapacá,1,5,0 %,0
5,Antofagasta,1,20,2 %,0
6,Atacama,0,1,0 %,0
7,Coquimbo,1,13,1 %,0
8,Valparaíso,12,44,3 %,0
9,Metropolitana,64,746,57 %,3
10,O’Higgins,3,14,1 %,0
11,Maule,1,31,2 %,0
12,Ñuble,3,114,9 %,0
13,Biobío,14,109,8 %,1
14,Araucanía,37,111,8 %,0
15,Los Ríos,3,14,1 %,0
16,Los Lagos,16,60,5 %,0
17,Aysén,1,2,0 %,0
18,Magallanes,6,19,1 %,0
19,Total,164,1.306,100%,4

In [8]:
data[0][2:3].values[0]

array(['Región', 'Casos nuevos', 'Casos totales', '% Casos totales**',
       'Fallecidos'], dtype=object)

In [9]:
data[0][3:].values

array([['Arica y Parinacota', '1', '3', '0 %', '0'],
       ['Tarapacá', '1', '5', '0 %', '0'],
       ['Antofagasta', '1', '20', '2 %', '0'],
       ['Atacama', '0', '1', '0 %', '0'],
       ['Coquimbo', '1', '13', '1 %', '0'],
       ['Valparaíso', '12', '44', '3 %', '0'],
       ['Metropolitana', '64', '746', '57 %', '3'],
       ['O’Higgins', '3', '14', '1 %', '0'],
       ['Maule', '1', '31', '2 %', '0'],
       ['Ñuble', '3', '114', '9 %', '0'],
       ['Biobío', '14', '109', '8 %', '1'],
       ['Araucanía', '37', '111', '8 %', '0'],
       ['Los Ríos', '3', '14', '1 %', '0'],
       ['Los Lagos', '16', '60', '5 %', '0'],
       ['Aysén', '1', '2', '0 %', '0'],
       ['Magallanes', '6', '19', '1 %', '0'],
       ['Total', '164', '1.306', '100%', '4']], dtype=object)

In [10]:
table = pd.DataFrame(data=data[0][3:].values, columns=data[0][2:3].values[0])

In [11]:
table

                Región Casos nuevos Casos totales % Casos totales** Fallecidos
0   Arica y Parinacota            1             3               0 %          0
1             Tarapacá            1             5               0 %          0
2          Antofagasta            1            20               2 %          0
3              Atacama            0             1               0 %          0
4             Coquimbo            1            13               1 %          0
5           Valparaíso           12            44               3 %          0
6        Metropolitana           64           746              57 %          3
7            O’Higgins            3            14               1 %          0
8                Maule            1            31               2 %          0
9                Ñuble            3           114               9 %          0
10              Biobío           14           109               8 %          1
11           Araucanía           37           111               8 %          0
12            Los Ríos            3            14               1 %          0
13           Los Lagos           16            60               5 %          0
14               Aysén            1             2               0 %          0
15          Magallanes            6            19               1 %          0
16               Total          164         1.306              100%          4

In [12]:
table['Región']

0     Arica y Parinacota
1               Tarapacá
2            Antofagasta
3                Atacama
4               Coquimbo
5             Valparaíso
6          Metropolitana
7              O’Higgins
8                  Maule
9                  Ñuble
10                Biobío
11             Araucanía
12              Los Ríos
13             Los Lagos
14                 Aysén
15            Magallanes
16                 Total
Name: Región, dtype: object

In [31]:
data[1].values[0][1]

33